@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-color: #35424a;
    --secondary-color: #e8491d;
    --light-color: #f4f4f4;
    --dark-color: #333;
    --white-color: #ffffff;
    --grey-color: #ddd;
    --light-shadow: rgba(0, 0, 0, 0.1);
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --edit-color: #f39c12;
    --delete-color: #e74c3c;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
}    

.container {
    display: flex;
    max-width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 3.5rem;
}

.left-side {
    background-image: url(../Imagenes/foto\ 1.jpg);
    background-size: cover;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem 0 0 1rem;
}

.left-side p {
    font-size: 1.8rem;
    text-align: center;
}

.right-side {
    background-color: #525252;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 0 1rem 1rem 0;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.form-toggle button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.form-toggle button.active {
    border-color: var(--secondary-color);
}

.login-form, .register-form {
    display: none;
    background-color: rgba(246, 245, 245, 0.836);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #2f3640;
}

.login-form.active-form, .register-form.active-form {
    display: block;
}

.login-form button, .register-form button {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
}
.register-form a, .login-form a {
    text-decoration: none;
    color: var(--white-color);
}

.login-form input {
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
    width: 90%;
}

.register-form input {
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
    width: 90%;
}

.login-form button:hover, .register-form button:hover {
    background-color: #ff4757;
}





/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 600px;
        height: auto;
        padding: 1.5rem;
    }

    .left-side{
        width: 100%;
        height: auto;
        border-radius: 0;
    }

    .right-side {
        width: 100%;
        height: auto;
        border-radius: 0 0 0 0;
    }

    .left-side {
        padding: 1.5rem;
    }

    .right-side {
        padding: 1.5rem;
    }

    .left-side p {
        font-size: 1.4rem;
    }

    .login-form, .register-form {
        margin-right: 2rem;
    }
}

/* Mobile Devices */
@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }

    .left-side {
        padding: 1rem;
    }

    .right-side {
        padding: 1rem;
    }

    .left-side p {
        font-size: 1.2rem;
    }
    .login-form, .register-form {
        margin-left: 1rem;
    }

    .form-toggle button {
        font-size: 0.875rem;
    }

    .login-form input, .register-form input {
        width: 100%;
    }
}